body {
    background-image: url("https://image.freepik.com/fotos-gratis/textura-escura-da-ardosia-do-preto-cinzento-com-alta-resolucao-fundo-da-parede-de-pedra-preta-natural_38607-306.jpg");
    background-size: 100vh;
      font-family: Arial Black;
    height: 100vh;
  }
  
  .menu {
    background-color: white; 
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none; 
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
  }